* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  width: 210px;
  padding: 20px 0;
  transition: 0.4s;
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font: 700 17px "DM Sans", Arial, sans-serif;
  color: #fff;
}

body {
  color: #696871;
  padding: 0 5px;
  font: 400 20px "Mulish", Arial, sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

#header-main {
  padding: 30px 0 100px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
}

.nav-main > li {
  position: relative;
  margin-right: 50px;
  font-size: 15px;
  color: #696871;
  transition: 0.4s;
}

.nav-main__item_checked > a,
.nav-main > li:hover {
  color: #19191b;
}

.nav-main__item_checked::after,
.nav-main > li:hover::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5454d4;
}

.nav-main__item_checked > a {
  cursor: default;
}

.nav-main > li:last-child {
  margin-right: 0px;
}

.header__btn {
  background-color: #ff7143;
}

.header__btn:hover {
  background-color: #ee5423;
}

/*Home*/
#home-section {
  padding-bottom: 160px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-right {
  position: relative;
  overflow-x: hidden;
  width: 580px;
  height: 644px;
}

.home-left {
  width: 460px;
}

.home-left > p {
  font-size: 20px;
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.home-left > b {
  font-size: 80px;
  width: 50%;
  color: #19191b;
  line-height: 77px;
  margin-bottom: 30px;
  display: block;
  font-family: "DT Sans", Arial, sans-serif;
  font-weight: 700;
}

.home-right > img {
  position: absolute;
  left: 60px;
}

.partners > ul {
  display: flex;
  justify-content: space-between;
}

.home-nav > button {
  margin-right: 40px;
  width: 210px;
  background-color: #5454d4;
}

.home-nav > button:hover {
  background-color: #2828e8;
}

.home-nav {
  display: flex;
}

.home-nav > a {
  display: block;
  border: 1px solid #e7e7e7;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

.home-nav > a:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.home-nav > a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 22px;
  height: 24px;
  background: url("../img/arrow-down.svg") no-repeat;
  transform: translate(-50%, -50%);
}

/*Subscription*/

#subscription-section {
  padding-bottom: 85px;
}

.subscription,
.metrics {
  display: flex;
  justify-content: space-between;
}

.subscription-left,
.metrics-right {
  width: 350px;
}

.subscription-right,
.metrics-left {
  width: 550px;
  padding-top: 95px;
}

.section-header {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #19191b;
}

.section-text {
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 460px;
}

.section-link {
  font-size: 17px;
  color: #5454d4;
  transition: 0.4s;
}

.section-link:hover {
  color: #2828e8;
}

#metrics-section {
  padding-bottom: 140px;
}

.audit-wrap {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}

.audit > img {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
}

.audit > h3 {
  font-weight: 700;
  font-size: 24px;
  color: #19191b;
  text-align: center;
  margin-bottom: 20px;
}

.audit > p {
  font-family: "Mulish", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.audit {
  width: 315px;
}

/**/

#product-section {
  padding-bottom: 150px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.product-header > b {
  color: #19191b;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  width: 550px;
  display: block;
}

.product-tabs {
  display: flex;
  width: 320px;
  justify-content: space-between;
  border-radius: 10px 0px 0px 10px;
}

.product-tabs > li {
  width: 50%;
  padding: 18px 0;
  font-size: 16px;
  cursor: pointer;
  color: #19191b;
  font-weight: 700;
  text-align: center;
  background-color: #f7f7f7;
}

.product-tabs > li:first-child {
  border-radius: 10px 0 0 10px;
}

.product-tabs > li:last-child {
  border-radius: 0 10px 10px 0px;
}

.product-tabs > .product-tabs_checked {
  color: #fff;
  background-color: #5454d4;
  cursor: default;
}

.plans-wrap {
  align-items: center;
  min-height: 475px;
  display: flex;
  justify-content: center;
}

.plan {
  margin-top: 10px;
  width: 330px;
  margin-right: 15px;
  padding: 30px 25px;
  border-radius: 10px;
  background: #f8f8f8;
}

.plan:last-child {
  margin-right: 0;
}

.plan > h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.plan > strong,
b {
  font-weight: 700;
  font-size: 60px;
  display: block;
  text-align: center;
  margin: 20px 0 30px;
  color: #1d293f;
}

.plan-description > li {
  font-family: "Mulish", Arial, sans-serif;
  font-size: 17px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.plan > a {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eae9f2;
  color: #5454d4;
  font-size: 17px;
  margin: 35px 0 auto;
  width: 285px;
  padding: 20px 0;
  text-align: center;
  transition: background-color 0.4s;
}

.plan > a:hover {
  color: #fff;
  background-color: #5454d4;
}

.plan > strong > span {
  font-size: 28px;
}

.plan-recomend {
  width: 375px;
  min-height: 500px;
  background-color: #ff7143;
  color: #fff;

  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.plan-recomend > strong,
.plan-recomend > a {
  color: #fff;
}

.plan-recomend > a {
  border: none;
  background-color: #9f3919;
}

.plan-recomend > a:hover {
  background-color: #c84117;
}
